<div class="shadow-md container flex flex-row">
  <form class="px-2" [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
    <h3 class="mr-auto">Register</h3>
    <h2 class="mt-2 font-semibold">Create your account</h2>

    <label for="username" class="-mt-8">Username</label>
    <input
      type="text"
      placeholder="your username"
      id="username"
      formControlName="name"
    />

    <label for="email" class="-mt-8">Email</label>
    <input type="text" placeholder="Email" id="email" formControlName="email" />

    <label for="password">Password</label>
    <input
      type="password"
      placeholder="Password"
      id="password"
      formControlName="password"
    />

    <label for="password">Confirm Password</label>
    <input
      type="password"
      placeholder="Confirm Password"
      id=" Confirm password"
      formControlName="confirmPassword"
    />

    <button
      class="text-black disabled:opacity-20"
      type="submit"
      [disabled]="RegisterForm.invalid && RegisterForm.touched"
    >
      Register
    </button>
    <div class="text-white flex items-end justify-center pt-6">
      Already have an account?
      <div
        routerLink="/auth/login"
        class="underline-offset-4 underline cursor-pointer"
      >
        Login here
      </div>
    </div>
  </form>
  <img src="assets/tank.png" alt="tank" class="h-56 m-auto" />
</div>
<div
  class="absolute z-[-1] top-[15px] left-[325px] h-32 w-32 rounded-full bg-gradient-to-tr from-[#697A17] to-[#0496FF]"
></div>
<div
  class="absolute z-[-1] bottom-[15px] right-[330px] h-32 w-32 rounded-full bg-gradient-to-tr from-[#545496] to-[#96031A]"
></div>
