form * {
    font-family: 'Poppins', sans-serif;
    color: rgba(28, 27, 27, 0.706);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    font-family: 'Poppins', sans-serif;
        color: rgba(28, 27, 27, 0.706);
        letter-spacing: 0.5px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    padding: 0 18px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}

::placeholder {
    color: #e5e5e5;
}

button {
    width: 55%;
    background-color: #ffffff;
    opacity: 0.67;
    color: #16151f !important;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}